.heading1
{
    color: aquamarine;
    background-color: red;
    text-align: justify;
    text-align-last: right;
}

.heading2
{
    direction: rtl;  
    unicode-bidi: bidi-override;
    vertical-align: sub;
}

.anchor
{
    text-decoration-line:none;
    color: black;
}

.heading3
{
    /* 
    
    text-decoration-line:overline;
    text-decoration-color: violet;
    text-decoration-style:dotted;
    text-decoration-thickness: 10px;
    
    */
    text-decoration: overline green dashed 5px;
}

.para1
{
    text-transform: capitalize;
    /* capitalize / lowercase / uppercase / none */
    /* text-indent: 120px;
    letter-spacing: 5px;
    line-height: 50px;
    word-spacing: 50px; */
    white-space: nowrap;
}